---
const {i18n, currentLocale} = Astro.props
import Logo from "@/assets/logo-main-marfil-sobre-negro@2x.png"
---

<footer class="bg-foreground text-secondary">
    <div class="mx-auto px-4 py-8 flex flex-col lg:flex-row gap-6 lg:gap-0 justify-between max-w-[1440px] items-center">
        <div class="w-full lg:w-auto flex justify-center lg:justify-start">
            <img src={Logo.src} alt="Sixth Sense Pay" class="w-32 h-auto" />
        </div>
        <div class="hidden lg:flex flex-row gap-4 items-start justify-start">
            <a href={i18n.navigation.home.url} class="text-secondary hover:underline">{i18n.navigation.home.title}</a>
            <a href={i18n.navigation.about.url} class="text-secondary hover:underline">{i18n.navigation.about.title}</a>
            <a href={i18n.navigation.howItWorks.url} class="text-secondary hover:underline">{i18n.navigation.howItWorks.title}</a>
            <a href={i18n.navigation.platforms.url} class="text-secondary hover:underline">{i18n.navigation.platforms.title}</a>
            <a href={i18n.navigation.users.url} class="text-secondary hover:underline">{i18n.navigation.users.title}</a>
            <a href={i18n.navigation.contact.url} class="text-secondary hover:underline">{i18n.navigation.contact.title}</a>
        </div>
        <div class="flex flex-col lg:flex-col gap-3 lg:gap-4 items-center lg:items-end justify-start text-base lg:text-lg">
            <a href={i18n.footer.navigation.privacyPolicy.url} class="text-secondary underline underline-offset-4 hover:opacity-80">{i18n.footer.navigation.privacyPolicy.title}</a>
            <a href={i18n.footer.navigation.termsOfService.url} class="text-secondary underline underline-offset-4 hover:opacity-80">{i18n.footer.navigation.termsOfService.title}</a>
        </div>
    </div>
</footer>